doctype 5
html
  head
    title= 'Chat'
    script(src='/socket.io/socket.io.js')
    script(src='//code.jquery.com/jquery-1.11.1.js')
  body
    center
      div
        button.btn.btn-info(type='button') 채팅방
      div
        textarea#chatLog.form-control(readonly='')
      
      form#chat
        input#room_num.form-contorl(type='hidden')
        input#name.form-contorl(type='text')
        input#message.form-contorl(type='text')
        button.btn.btn-primary(type='submit') 전송  
        
      #box.box
    script.
      var meeting_id = #{meeting_id};
      var socket = io();
      $('#chat').on('submit', function(e){ 
      socket.emit('send message', meeting_id, $('#name').val(), $('#message').val());
      $('#message').val('');
      $('#message').focus();
      e.preventDefault();
      });
      socket.on('receive message', function(msg){ 
      $('#chatLog').append(msg + '\n');
      $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      });
      socket.on('new user', function(chats, user_nick_name, room_num){
        $('#chatLog').append(chats);
        $('#name').val(user_nick_name);
        $('#room_num').val(room_num);
      });