doctype 5
html
  head
    title= 'Chat'
    script(src='/socket.io/socket.io.js')
    script(src='//code.jquery.com/jquery-1.11.1.js')
  body
    center
      div
        button.btn.btn-info(type='button') 채팅방
      div
        textarea#chatLog.form-control(readonly='')
      form#chat
        input#name.form-contorl(type='hidden')
        input#message.form-contorl(type='text')
        button.btn.btn-primary(type='submit') 전송
      #box.box
    script.
      var roomId = #{roomId};
      var socket = io();
      socket.emit('joinRoom', roomId, name);
      $('#chat').on('submit', function(e){ 
      socket.emit('send message', roomId, $('#name').val(), $('#message').val());
      $('#message').val('');
      $('#message').focus();
      e.preventDefault();
      });
      socket.on('create name', function(name){ 
      $('#name').val(name);
      });
      socket.on('receive message', function(msg){ 
      $('#chatLog').append(msg + '\n');
      $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      });
      socket.on('new_disconnect', function(name){
        $('#chatLog').append('<알림> ' + name + ' 님이 채팅창을 떠났습니다.\n');
      });
      socket.on('new_connect', function(name){
        $('#chatLog').append('<알림> ' + name + ' 님이 채팅창에 접속했습니다.\n');
      });