doctype 5
html
  head
    title= 'Login'
  body
    center
      div
        button.btn.btn-info(type='button') Login
      div
        textarea#chatLog.form-control(readonly='')
      
      form#chat
        input#user_email.form-contorl(type='text')
        input#passwd.form-contorl(type='text')
        button.btn.btn-primary(type='submit') 전송  
        
      #box.box
    script.
      